{% extends "layout.html" %}
{% block title %} Group Polls {% endblock %}

{% block content %}


<h3>Groups</h3>


<div class="table-container">

    <table class="table table-striped">
        <tr>
            <th>Group</th>
            <th>Members</th>
            <th>Joined</th>
        </tr>
        {% for group in group_info %}
        <tr>
            <td><a href="/group/{{ group.group_id }}">{{ group.name }}</a></td>
            <td>{{ group.member_count }}</td>
            <td>{{ group.user_joined_group }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><a href="/newgroup"><b>+ New group</b></a></td>
            <td></td>
            <td></td>
        </tr>

    </table>
</div>

</body>

</html>


{% endblock %}