{% extends "layout.html" %}
{% block title %}{{ group_name }}: {{ name }}{% endblock %}

{% block content %}

<p>Description: {{ description }}</p>
<p>Created by: {{ created_by }}</p>
<p>Time left: <a id="counter">{{ time_left }}</a></p>
{% if closed %}
<h3>Poll results</h3>
<p>Winner(s) with {{poll_stats.max_votes}} votes</p>
<ul>
    {% for winner in poll_winners %}
    <li><b>{{ winner.name }}</b></li>
    {% endfor %}
</ul>
{% endif %}

<div class="table-container">

    <table class="table table-striped" , style="width:100%;max-width:600px">
        <colgroup>
            <col span="1" style="width: 85%;">
            <col span="1" style="width: 15%;">
         </colgroup>
        <tr>
            <th>Choice</th>
            <th>Votes</th>
        </tr>
        {% for choice in choices %}
        <tr>
            {% if not choice.has_voted %}
            <form action="/upvote?poll_id={{ poll_id }}" method="POST">
                <td>{{ choice.details.name }}</td>
                <td>
                    {% if not closed %}
                    <input type="submit" class="button button-black" value="+">
                    {% endif %}
                    <b>{{choice.choice_votes}}</b>
                </td>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="choice_id" value="{{ choice.details.id }}">
            </form>
            {% else %}
            <form action="/downvote?poll_id={{ poll_id }}" method="POST">
                <td>{{ choice.details.name }}</td>
                <td>
                    {% if not closed %}
                    <input type="submit" class="button button-black" value="-">
                    {% endif %}
                    <b>{{choice.choice_votes}}</b>
                </td>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="choice_id" value="{{ choice.details.id }}">
            </form>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    {% if not closed %}
    <p>
    <form action="/newchoice?poll_id={{ poll_id }}" method="POST">

        <input type="text" name="new_choice" minlength="1" maxlength="50"><input type="submit"
            class="button button-black" value="Add choice">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    </form>
    </p>
    {% endif %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="barChart" style="width:100%;max-width:600px"></canvas>

<p>Total votes: {{ poll_stats.total_votes }}</p>
<p>Average votes per choice: {{ poll_stats.avg_votes }}</p>

<p>
    <a href="/group/{{ group_id }}">Back to group</a>
</p>


<script>
    // Script for updating the countdown clock. Copied from https://www.w3schools.com/howto/howto_js_countdown.asp
    // Set the date we're counting down to
    var countDownDate = new Date("{{ closes_at }}").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="counter"
        document.getElementById("counter").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, print "expired" and refresh the page
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("counter").innerHTML = "EXPIRED";

            // If the poll hasn't been closed yet, refresh the page to hide the vote buttons 
            // and the add choice form and refresh the vote counts the closed value to 1.
            if ("{{ closed }}" == 0) {
                location.reload()
            }
        }


    }, 1000);

    // bar chart for showing the poll stats. Inspiration from https://www.w3schools.com/js/js_graphics_chartjs.asp
    const results_length = "{{ poll_results | length }}";
    const results = JSON.parse("{{ poll_results | safe}}".replaceAll("'", '"'));
    const xValues = [];
    const yValues = [];
    for (let i = 0; i < results_length; i++) {
        xValues.push(results[i].name);
        yValues.push(results[i].votes);
    }
    const barColors = [];
    const increment = 0.5 / results_length;
    for (let i = 0; i < results_length; i++) {
        const color = `rgb(3, 53, 36, ${1 - (increment * i)})`;
        barColors.push(color);
    }



    new Chart("barChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Vote distribution"
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1
                    }
                }]
            }
        }
    });

</script>

{% endblock %}