{% extends "layout.html" %}
{% block title %}{{ group_name }}: {{ name }}{% endblock %}

{% block content %}

<p>Description: {{ description }}</p>
<p>Created by: {{ created_by }}</p>
<p>Time left: <a id="counter">{{ time_left }}</a></p>

<div class="table-container">

    <table class="table table-striped">
        <tr>
            <th>Choice</th>
            <th>Votes</th>
        </tr>
        {% for choice in choices %}
        <tr>
            {% if not choice.has_voted %}
            <form action="/upvote?poll_id={{ poll_id }}" method="POST">
                <td>{{ choice.details.name }}</td>
                <td>
                    {% if not closed %}
                    <input type="submit" class="button button-black" value="+">
                    {% endif %}
                    <b>{{choice.choice_votes}}</b>
                </td>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="choice_id" value="{{ choice.details.id }}">
            </form>
            {% else %}
            <form action="/downvote?poll_id={{ poll_id }}" method="POST">
                <td>{{ choice.details.name }}</td>
                <td>
                    {% if not closed %}
                    <input type="submit" class="button button-black" value="-">
                    {% endif %}
                    <b>{{choice.choice_votes}}</b>
                </td>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="choice_id" value="{{ choice.details.id }}">
            </form>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    {% if not closed %}
    <p>
    <form action="/newchoice?poll_id={{ poll_id }}" method="POST">

        <input type="text" name="new_choice" minlength="1" maxlength="50"><input type="submit"
            class="button button-black" value="Add choice">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    </form>
    </p>
    {% endif %}


</div>

<p>
    <a href="/group/{{ group_id }}">Back to group</a>
</p>



<script>
    // Script for updating the countdown clock. Copied from https://www.w3schools.com/howto/howto_js_countdown.asp
    // Set the date we're counting down to
    var countDownDate = new Date("{{ closes_at }}").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="counter"
        document.getElementById("counter").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, print "expired" and refresh the page
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("counter").innerHTML = "EXPIRED";

            // If the poll hasn't been closed yet, refresh the page to hide the vote buttons 
            // and the add choice form and refresh the vote counts the closed value to 1.
            if ("{{ closed }}" == 0) {
                location.reload()
            }
        }


    }, 1000);
</script>

{% endblock %}