<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title> Group polls - register </title>
</head>

<body>
    <h2>New user</h2>

    <form action="/register" method="post">
        User name: <input type="text" name="username" minlength="1">
        Password: <input type="password" name="password">
        <p>
            <input type="submit" class="button button-black" value="Register">

    </form>

    <p>
        <a href="/login">Back</a>

</body>